<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="userDetails">
    <div class="container">
        <div class="card my-5 mx-auto" style="width:650px;" th:object="${userDetailsViewModel}">
            <div class="row g-0">
                <div class="d-flex flex-row col-md-5 justify-content-stretch pr-1">
                    <img th:src="@{/image/profile/{picture}(picture=*{pictureName})}"
                         th:alt="*{pictureName}"
                         class="img-fluid"/>
                </div>
                <div class="col-md-7 pl-3">
                    <div class="card-body pl-1">
                        <h4 class="card-title text-primary text-center" th:text="*{fullName}"></h4>
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.facultyNumber}"></span>
                            <span th:text="*{facultyNumber}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.egn}"></span>
                            <span th:text="*{egn}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.email}"></span>
                            <span th:text="*{email}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.phone}"></span>
                            <span th:text="*{phone}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.grade}"></span>
                            <span th:text="*{grade}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.egn}"></span>
                            <span th:text="*{egn}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.specialtyName}"></span>
                            <span th:text="*{specialtyName}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.studyType}"></span>
                            <span th:text="*{studyType}"></span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div class="card-text">
                            <span class="font-weight-bold" th:text="#{userDetails.jobStatus}"></span>
                            <span th:if="*{jobStatusName.positionName == 'Unemployed'}"
                                  th:text="*{jobStatusName}"></span>
                            <span th:if="*{jobStatusName.positionName != 'Unemployed'}">
                                <a th:href="@{/job/details/{recordId}(recordId=${lastUserJobId})}" th:text="*{jobStatusName}"></a>
                            </span>
                        </div>
                        <hr class="hr-2 bg-dark w-100 my-0 ml-0 border-primary">
                        <div sec:authorize="hasAuthority('ADMIN')"
                             th:if="*{jobStatusName.positionName == 'Applied'}"
                             class="d-flex flex-row justify-content-center mt-3">
                            <form class="form mx-2" th:action="@{/job/{recordId}/status/Rejected(recordId=${lastUserJobId})}" th:method="POST">
                                <input type="hidden" name="facultyNumber" th:value="*{facultyNumber}">
                                <input type="hidden" name="redirectUrl" th:value="${'/user/details/' + userDetailsViewModel.facultyNumber}">
                                <button type="submit" class="btn btn-danger" th:text="#{userDetails.reject}"></button>
                            </form>
                            <form class="form mx-2" th:action="@{/job/{recordId}/status/Accepted(recordId=${lastUserJobId})}" th:method="POST">
                                <input type="hidden" name="facultyNumber" th:value="*{facultyNumber}">
                                <input type="hidden" name="redirectUrl" th:value="${'/user/details/' + userDetailsViewModel.facultyNumber}">
                                <button type="submit" class="btn btn-success" th:text="#{userDetails.accept}"></button>
                            </form>
                        </div>
                        <div sec:authorize="!hasAuthority('ADMIN')"
                             class="text-center mt-3">
                            <th:block th:if="*{jobStatusName.positionName == 'Applied'}">
                                <form class="form" th:action="@{/job/{recordId}/status/Surrendered(recordId=${lastUserJobId})}" th:method="POST">
                                    <input type="hidden" name="redirectUrl" th:value="${'/user/details/' + userDetailsViewModel.facultyNumber}">
                                    <button type="submit" class="btn btn-danger" th:text="#{userDetails.surrendered}"></button>
                                </form>
                            </th:block>
                            <th:block th:if="*{jobStatusName.positionName == 'Accepted'}">
                                <form class="form" th:action="@{/job/{recordId}/status/Left(recordId=${lastUserJobId})}" th:method="POST">
                                    <input type="hidden" name="redirectUrl" th:value="${'/user/details/' + userDetailsViewModel.facultyNumber}">
                                    <button type="submit" class="btn btn-danger" th:text="#{userDetails.left}"></button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" sec:authorize="hasAuthority('ADMIN')">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{userDetails.jobRecordId}"></th>
                    <th scope="col" th:text="#{userDetails.jobTitle}"></th>
                    <th scope="col" th:text="#{userDetails.userStatus}"></th>
                    <th scope="col" th:text="#{userDetails.modifiedDate}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userJobHistory: ${userJobHistoryViewModels}" th:object="${userJobHistory}">
                    <th scope="row">
                        <a th:href="@{/job/details/{jobRecordId}(jobRecordId=*{jobRecordId})}"
                           th:text="*{jobRecordId}"></a>
                    </th>
                    <td th:text="*{jobTitle}"></td>
                    <td th:text="*{newStatusName.name}"></td>
                    <td th:text="*{#dates.format(createdDate, 'dd.MM.yyyy HH:mm')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>