<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="userList">
    <div class="container" th:object="${userArgsViewModel}">
        <form class="form row" th:action="@{/user/list}" th:method="GET">
            <div class="form-group col col-lg-2">
                <input type="text" class="form-control" placeholder="Name" name="name" th:value="*{name}">
            </div>
            <div class="form-group col col-lg-2">
                <input type="text" class="form-control" placeholder="Faculty Number" name="facultyNumber" th:value="*{facultyNumber}">
            </div>
            <div class="form-group col col-lg-2">
                <select id="studyType" name="specialtyId">
                    <option value="">All specialty</option>
                    <option th:each="specialty: *{specialtyViewModels}"
                            th:value="${specialty.id}"
                            th:text="${specialty.name}"
                            th:selected="${specialty.id == userArgsViewModel.specialtyId}"></option>
                </select>
            </div>
            <div class="form-group col col-lg-2">
                <select id="userStatus" name="jobStatusId">
                    <option value="">All job status</option>
                    <option th:each="jobStatus: *{jobStatusViewModes}"
                            th:value="${jobStatus.id}"
                            th:text="${jobStatus.name}"
                            th:selected="${jobStatus.id == userArgsViewModel.jobStatusId}"></option>
                </select>
            </div>
            <div class="col col-lg-2">
                <button type="submit" class="btn btn-dark" th:text="Search"></button>
            </div>
        </form>
        <div class="card-deck">
            <div class="card" th:each="user: ${usersViewModel}" th:object="${user}">
                <a th:href="@{/user/details/{facultyNumber}(facultyNumber=*{facultyNumber})}">
                    <h4 class="mx-auto my-2" th:text="*{name + ' ' + surname}"></h4>
                    <img class="card-img-top"
                         th:src="@{/image/profile/{picture}(picture=*{pictureName})}"
                         th:alt="*{pictureName}"
                         th:width="250px"
                         th:height="180px">
                    <div class="card-body">
                        <p class="card-text" th:text="*{facultyNumber}"></p>
                        <p class="card-text" th:text="*{jobStatusName}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="my-3">
            <ul class="pagination">
                <li class="page-item"
                    th:classappend="*{currentPage == 1} ? d-none: ''">
                    <a class="page-link" th:href="@{/user/list(page=*{currentPage - 1},name=*{name},facultyNumber=*{facultyNumber},jobStatusId=*{jobStatusId},specialtyId=*{specialtyId})}">Previous</a>
                </li>
                <li th:each="i : *{#numbers.sequence(1, totalPages)}"
                    class="page-item"
                    th:classappend="${i == userArgsViewModel.currentPage} ? active: ''">
                    <a class="page-link"
                       th:href="@{/user/list(page=${i},name=*{name},facultyNumber=*{facultyNumber},jobStatusId=*{jobStatusId},specialtyId=*{specialtyId})}"
                       th:text="${i}">
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="*{currentPage == totalPages} ? d-none: ''">
                    <a class="page-link" th:href="@{/user/list(page=*{currentPage + 1},name=*{name},facultyNumber=*{facultyNumber},jobStatusId=*{jobStatusId},specialtyId=*{specialtyId})}">Next</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>