<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="userList">
    <div class="container" th:object="${userArgsViewModel}">
        <form class="form row align-items-center" th:action="@{/user/list}" th:method="GET">
            <div class="form-group col col-lg-2 my-0 pr-2 pl-4">
                <input type="text" class="form-control" th:placeholder="#{userList.name}" name="name" th:value="*{name}">
            </div>
            <div class="form-group col col-lg-2 my-0 px-2">
                <input type="text" class="form-control" th:placeholder="#{userList.facultyNumber}" name="facultyNumber" th:value="*{facultyNumber}">
            </div>
            <div class="form-group col col-lg-3 my-0 px-2">
                <select class="form-control" id="studyType" name="specialtyId">
                    <option value="" th:text="#{userList.allSpecialties}"></option>
                    <option th:each="specialty: *{specialtyViewModels}"
                            th:value="${specialty.id}"
                            th:text="${specialty.name}"
                            th:selected="${specialty.id == userArgsViewModel.specialtyId}"></option>
                </select>
            </div>
            <div class="form-group col col-lg-3 my-0 px-2">
                <select class="form-control" id="userStatus" name="jobStatusId">
                    <option value="" th:text="#{userList.allJobStatuses}"></option>
                    <option th:each="jobStatus: *{jobStatusViewModes}"
                            th:value="${jobStatus.id}"
                            th:text="${jobStatus.name}"
                            th:selected="${jobStatus.id == userArgsViewModel.jobStatusId}"></option>
                </select>
            </div>
            <div class="col col-lg-2">
                <button type="submit" class="btn btn-dark" th:text="#{userList.search}"></button>
            </div>
        </form>
        <div class="d-flex flex-row align-items-center flex-wrap mt-4">
            <div th:each="user: ${usersViewModel}" th:object="${user}" class="mx-3">
                <a class="text-decoration-none" th:href="@{/user/details/{facultyNumber}(facultyNumber=*{facultyNumber})}">
                    <div class="card mb-3" style="width: 323px;">
                        <div class="row g-0">
                            <div class="d-flex flex-row col-md-6 justify-content-stretch pr-1">
                                <img th:src="@{/image/profile/{picture}(picture=*{pictureName})}"
                                     th:alt="*{pictureName}"
                                     class="img-fluid"/>
                            </div>
                            <div class="col-md-6 pl-3">
                                <div class="card-body pl-1">
                                    <h5 class="card-title" th:text="*{name + ' ' + surname}"></h5>
                                    <p class="card-text text-info">
                                        <i class="fas fa-graduation-cap"></i>
                                        <span th:text="*{facultyNumber}"></span>
                                    </p>
                                    <p class="card-text">
                                        <h6 class="font-italic text-dark" th:text="*{jobStatusName}"></h6>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="my-3">
            <ul class="pagination">
                <li class="page-item"
                    th:classappend="*{currentPage == 1} ? d-none: ''">
                    <a class="page-link" th:href="@{/user/list(page=*{currentPage - 1},name=*{name},facultyNumber=*{facultyNumber},jobStatusId=*{jobStatusId},specialtyId=*{specialtyId})}" th:text="#{userList.previous}"></a>
                </li>
                <li th:each="i : *{#numbers.sequence(1, totalPages)}"
                    class="page-item"
                    th:classappend="${i == userArgsViewModel.currentPage} ? active: ''">
                    <a class="page-link"
                       th:href="@{/user/list(page=${i},name=*{name},facultyNumber=*{facultyNumber},jobStatusId=*{jobStatusId},specialtyId=*{specialtyId})}"
                       th:text="${i}">
                    </a>
                </li>
                <li class="page-item"
                    th:classappend="*{currentPage == totalPages} ? d-none: ''">
                    <a class="page-link" th:href="@{/user/list(page=*{currentPage + 1},name=*{name},facultyNumber=*{facultyNumber},jobStatusId=*{jobStatusId},specialtyId=*{specialtyId})}" th:text="#{userList.next}"></a>
                </li>
            </ul>
        </div>
    </div>
</th:block>