<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="register">
    <hr class="hr-2 bg-dark w-50 mt-5 rounded-circle border-primary">
    <h1 class="text-center text-dark pb-2 font-italic" th:text="#{loginUser.login}"></h1>
    <form class="form w-25 mx-auto" th:action="@{/user/login}" th:method="POST">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   name="facultyNumber"
                   th:placeholder="#{loginUser.facultyNumber}">
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   name="password"
                   th:placeholder="#{loginUser.password}">
        </div>
        <div class="button-holder d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary" th:text="#{loginUser.login}"></button>
        </div>
    </form>
    <hr class="hr-2 bg-dark w-50 mb-5 rounded-circle border-primary">
</th:block>