<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/job/all}" th:title="#{navigation.jobs}"><i class="fas fa-briefcase"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/user/login}" th:title="#{navigation.login}"><i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('USER')">
                    <a class="nav-link" th:href="@{/user/profile}" th:title="#{navigation.profile}"><i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/user/all}" th:title="#{navigation.users}"><i class="fas fa-users"></i></a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/user/register}" th:title="#{navigation.register}"><i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/user/logout}" th:method="POST">
                        <button class="nav-link" th:title="#{navigation.logout}"><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>