<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="jobDetails">
    <div class="container" th:object="${jobModelView}">
        <h3 th:text="*{title}"></h3>
        <div class="row">
            <div class="col col-lg-2" th:text="*{region}"></div>
            <div class="col col-lg-2" th:text="*{#dates.format(updatedDate, 'dd.MM.yyyy HH:mm')}"></div>
            <div class="col col-lg-2" th:text="*{#dates.format(expireDate, 'dd.MM.yyyy HH:mm')}"></div>
            <div class="col col-lg-2" th:text="*{salary}"></div>
        </div>
        <div class="row">
            <div class="col col-lg-2" th:text="*{companyName}"></div>
            <div class="col col-lg-10" th:text="*{jobCategory}"></div>
        </div>
        <th:block>

        </th:block>
        <div class="row my-4"
             sec:authorize="!hasAuthority('ADMIN')"
             th:if="${userStatus.name != 'Applied' && userStatus.name != 'Accepted'}">
            <form class="form" th:action="@{/job/{recordId}/status/Applied(recordId=*{recordId})}" th:method="POST">
                <input type="hidden" name="redirectUrl" th:value="${'/job/details/' + jobModelView.recordId}">
                <button type="submit" class="btn btn-primary">Apply for</button>
            </form>
        </div>
        <div class="row my-4"
             sec:authorize="!hasAuthority('ADMIN')"
             th:if="${userStatus.name == 'Applied' && lastUserJobId == jobModelView.recordId}">
            <form class="form" th:action="@{/job/{recordId}/status/Surrendered(recordId=*{recordId})}" th:method="POST">
                <input type="hidden" name="redirectUrl" th:value="${'/job/details/' + jobModelView.recordId}">
                <button type="submit" class="btn btn-danger">Surrender</button>
            </form>
        </div>
        <div class="row">
            <p th:utext="*{description}"></p>
        </div>
        <div class="row" sec:authorize="hasAuthority('ADMIN')">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Факултетен номер</th>
                        <th scope="col">Име</th>
                        <th scope="col">Специалност</th>
                        <th scope="col">Успех</th>
                        <th scope="col">Състояние</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="jobHistory: ${jobsHistoryViewModel}" th:object="${jobHistory}">
                        <th scope="row" th:text="*{user.facultyNumber}"></th>
                        <td>
                            <a th:href="@{/user/details/{userId}(userId=*{user.facultyNumber})}"
                               th:text="*{user.name + ' ' + user.surname}"></a>
                        </td>
                        <td th:text="*{user.specialtyName}"></td>
                        <td th:text="*{user.grade}"></td>
                        <td th:text="*{newStatusName}"></td>
                        <td th:text="*{#dates.format(createdDate, 'dd.MM.yyyy HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>